@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

body {
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    color: var(--primary-color);
}

.content-page {
    display: flex;
    color: var(--primary-color);
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background-color: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
