.Icon {
    color: var(--primary-color);

    &.filled {
        fill: var(--primary-color);
    }
}

.inverted {
    color: var(--inverted-primary-color);

    &.filled {
        fill: var(--inverted-primary-color);
    }
}