.BIG {
    .card {
        margin-bottom: 30px 30px 0;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.items_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin: 0 30px;
}

.skeletons {
    padding-bottom: 30px;
}

.item_container {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-right: 30px;

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}
