.code {
    position: relative;
    border: 1px solid var(--primary-color);
    padding: 20px;
    background-color: var(--code-bg);
    overflow: auto;
}

.copy_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    background-color: transparent;
    border: none;
}

.copy_icon path {
    stroke: var(--primary-color);
}
