.ArticleViewSelector {
    .NotSelected {
        fill: var(--secondary-color);
    }

    .Icon:hover {
        fill: inherit;
    }
}

.ArticleViewSelectorRedesigned {
    .Selected {
        // color: var(--accent-redesigned);
        fill: var(--accent-redesigned);
    }

    .Icon:hover {
        // fill: inherit;
    }
}
