.ArticleViewSelector {
    .NotSelected {
        fill: var(--secondary-color);
    }

    .Icon.NotSelected {
        filter: opacity(0.5);
    }

    .Icon:hover {
        filter: none;
    }
}

.ArticleViewSelectorRedesigned {
    .Selected {
        fill: var(--accent-redesigned);
    }
}
