.primary {
    color: var(--text-redesigned);

    &:hover {
        color: var(--accent-redesigned);
    }
}

.red {
    color: var(--cancel-redesigned);

    &:hover {
        opacity: 0.8;
    }
}

.blockWrapper {
    position: relative;
}

.navInner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
