.Icon {
    color: var(--icon-redesigned);
    fill: none;

    &.filled {
        fill: var(--icon-redesigned);
    }
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
