.Icon {
    color: var(--icon-redesigned);

    &:hover {
        color: var(--accent-redesigned);
        fill: var(--accent-redesigned);
    }
    &.filled{
        fill: var(--icon-redesigned);
    }
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
