.Navbar {
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    align-items: center;
    padding: 20px;
    background: var(--inverted-bg-color);
}

.link,
.dropdown {
    margin-left: auto;
    caret-color: transparent;
}

.mainLink {
    margin-right: 15px;
}

.app_name {
    width: var(--sidebar-width);
    margin-left: 15px;
}
